<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include navbar.html %}

    <div class="row h-100">
      <div class="col-md-2 col-sm-3 d-none d-sm-block p-0 position-fixed">
        {% include navbar_side.html sidebarClassName="rb-sidebar__1" %}
      </div>
      <div class="col-md-10 col-xs-12 col-sm-9 p-0 dyn-left main-parent">
        <main role="main" class="content-scroll p-5" data-spy="scroll" data-target="#components-nav" data-offset="0">
          {{ content }}

          {% include footer.html %}
        </main>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
